@import url(style.css);

body{
  background: linear-gradient(90deg, rgba(206, 152, 17, 0.27) 0%, rgba(88, 10, 10, 1) 100%);

}


.card {

  margin-bottom: 20px;
  transition: border 0.1s, transform 0.3s;
  width: 300px;
  height: 300px;
}

.card:hover {
  border: 1px solid var(--color-two);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  cursor: pointer;
 
}

.card .card-body h2 {
 color: aqua;
}

.card img:hover {
opacity: 0.6;
}

.card-p {
  color: var(--color-three);
}

.card-p i {
color: black;
  margin-right: 8px;
}
  .container {
      padding: 20px;
    }

    .table-responsive {
      overflow-x: auto;
    }

    table {
      width: 100%;
    }

    @media (max-width: 768px) {
      table {
        font-size: 12px; /* Adjust font size for smaller screens */
      }
      th, td {
        padding: 5px;
      }
    }