@import url(style.css);



.card {
  border: 1px solid var(--color-three);
  margin-bottom: 20px;
  transition: border 0.1s, transform 0.3s;
  width: 300px;
  height: 300px;
}

.card:hover {
  border: 1px solid var(--color-two);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  cursor: pointer;
}

.card .card-body h2 {
  color: var(--color-two);
}

.card img:hover {
opacity: 0.6;
}

.card-p {
  color: var(--color-three);
}

.card-p i {
  color: var(--color-two);
  margin-right: 8px;
}
.card ::shadow