
@import url(style.css);


/*................................
carosel setup*/
.navbar-brand-fw-bold{
  font-family: 'Poppins', sans-serif;
  color: aqua;
}
.navbar{
  margin-bottom: 0;
}

.d-block w-100 .carousel-inner{
  height: 524px;
  width: 1125px;
  align-items: center;
}
.line{
  width: 100%;
  height: 3rem;
  background-color:brown;
}





























@media screen and (max-width: 768px) {
  .btn-outline-dark {
    border: none;
    padding: 0;
    outline: none;
  }

  .btn-outline-dark:hover {
    background: none;
    color: rgb(104, 6, 6);
  }

.col-lg-4{
    display:none;
    
  }
}

